html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  line-height: 28px;
  @include fw400;
  color: $text;
}
.container {
  max-width: 1470px;
  padding: 0px 15px;
  margin: 0 auto;
}
.container-header {
  max-width: 1470px;
}
.container-content{
  max-width: 1630px;
}
.container-footer{
  max-width: 1230px;
}
