@import "vars";
@import "global";


/* ========HEADER======== */

.header {
  width: 100%;
  top: 0;
  border-bottom: 1px solid #e4e4e4;
  background-color: rgba(255, 255, 255, 0.902);
  position: fixed;
  top: 0;
  left: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  &__list {
    display: flex;
  }
  &__link {
    & + .header__link {
      margin-left: 26px;
    }
    & a {
      font-size: 14px;
      @include fw600;
      text-transform: uppercase;
      color: $text;
      border-bottom: 1px solid transparent;
      transition: all 0.5s;
      &:hover,
      :focus {
        color: $gold;
        border-bottom: 1px solid $gold;
      }
    }
    &--active a {
      color: $gold;
      border-bottom: 1px solid $gold;
    }
  }
}

.section{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title{
  font-size: 60px;
  line-height: 70px;
  @include fw300;
}
.title__home{
  color: $gold;
  margin-bottom: 20px;
}
.text{
  font-size: 20px;
  line-height: 28px;
  @include fw300;
  color: $text;
  margin-bottom: 50px;
}
.magazine{
  display: inline-block;
  & +li{
    margin-left: 20px;
    margin-bottom: 60px;
  }
}
.btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $gold;
  transition: all .4s;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:hover{
    background-color: #000;
    path{
      fill: $gold;
    }
  }
}
.content{
  max-width: 620px;
  text-align: center;
}

/* ========SEATTLE======== */
.seattle{
  background-color: #f6f7fc;
  background-image: url(../images/seattlebg.jpg);
  &__inner{
    display: flex;
    justify-content: flex-end;
  }
}

/* ========MINESOTA======== */
.minnesota{
  background-image: url(../images/minnesotabg.jpg);
  background-color: $bg;
}

/* ========BRIDAL======== */
.bridal{
  background-image: url(../images/bridalbg.jpg);
  &__inner{
    display: flex;
    justify-content: flex-end;
  }
}

/* ========EVENTS======== */
.events{
  background-image: url(../images/eventsbg.jpg);
  background-color: $bg;
}

/* ========FOOTER======== */
.footer{
  background-color: $footerbg;
  padding: 45px 0px;
  max-height: 200px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}
.social{
  &__list{
    margin-top: 15px;
    margin-bottom: 35px;
  }
  &__link{
    display: inline-block;
    &+ li{
      margin-left: 55px;
    }
  }
}
.copy{
  font-size: 14px;
  line-height: 28px;
  color: $text;
}
.list{
  height: 136px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  a{
    font-size: 14px;
    line-height: 30px;
    color: $text;
  }
}
.footer__addres{
  font-size: 14px;
  line-height: 30px;
}
.list__link{
  margin-right: 100px;
}

/* ========EVENTS======== */
.amore{
  margin-top: 100px;
  padding: 96px 0;
  background-color: $goldbg;
  &__inner{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
  &__title{
    color: #fff;
    margin-bottom: 60px;
  }
  &__video{
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

/* ========COUTURE======== */
.couture{
  padding: 96px 0;
  &__inner{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    
  }
  &__title{
    max-width: 1100px;
    color: $title;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  &__video{
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

/* ========COUTURE======== */
.seattle-brid{
  background-color: #ebecf0;
  padding: 96px 0;
  &__inner{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    
  }
  &__title{
    max-width: 1100px;
    color: $title;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  &__video{
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}